.cardImg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.iconWrapper {
  border: 5px solid #fff;
  box-sizing: content-box;
}

.cardImg img {
  transition: all 0.5s ease-in-out;
  transform: translate(50%, 50%);
}

.mainBody:hover .cardImg img {
  transform: translate(-20%, -20%) !important;
}

.mainBody:hover .cardImg {
  opacity: 1 !important;
  background: #f7f9f9 !important;
}

.mainBody:hover {
  border-color: #aceefe;
}
