.inputWrapper {
  width: 100%;
}

.input {
  display: flex;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 0px 16px;
  border-radius: 8px;
  height: 48px;
  align-items: center;
  border: 2px solid transparent;
  align-items: center;
}

.input svg {
  cursor: pointer;
}

.input input {
  width: 100%;
  background-color: transparent !important;
  border: none;
  outline: none;
}

.input:focus-within {
  border-color: var(--primary-color);
}

.errorInput {
  border-color: red;
}
