asgiref==3.6.0
Django==4.1.1
sqlparse==0.4.3
django-cors-headers==3.13.0
djangorestframework==3.13.1
drf-yasg==1.21.4
black==24.8.0
python-dotenv==1.0.1
phonenumbers==8.13.20
twilio==8.13.0
langchain==0.1.0
langchain-community==0.0.11
langchain-openai==0.0.2
chromadb==0.3.29
tokenizers~=0.14
tiktoken==0.5.2
openai==1.14.2
django-phonenumber-field==8.0.0
daphne==3.0.0
