@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

:root {
  --primary-color: #145eeb;
  --primary-active-color: #1233a4;
  --danger-color: #ff0000;

  --primary-border-color: #edeff2;
  --secondary-text-color: #6c757d;
}

html {
  scroll-behavior: smooth;
}

.cursor-pointer {
  cursor: pointer;
}


@layer components {

  .heading-1 {
    @apply font-poppins text-5xl font-bold leading-relaxed;
  }

  .heading-2 {
    @apply font-poppins text-4xl font-bold leading-relaxed;
  }

  .heading-3 {
    @apply font-poppins text-3xl font-semibold leading-relaxed;
  }

  .heading-4 {
    @apply font-poppins text-2xl font-semibold leading-relaxed;
  }


  .heading-5 {
    @apply font-poppins text-xl font-semibold leading-relaxed;
  }


  .heading-4 {
    @apply font-poppins text-2xl font-semibold leading-relaxed;
  }

  .body-1 {
    @apply font-poppins text-lg text-textSecondary
  }

  .body-2 {
    @apply font-poppins text-base text-textSecondary
  }
}