.dropdown {
  border-bottom: 2px solid transparent;
}

.dropdown:hover {
  border-bottom: 2px solid var(--primary-color);
}

.arrowIcon {
  transition: all 0.2s linear;
}

.dropdown:hover .arrowIcon {
  transform: rotate(-180deg);
}

@media (min-width: 960px) {
  .dropdown:hover .dropdownMenu {
    height: auto;
  }

  .dropdownMenu {
    box-shadow: 0 4px 6px 0 #0c002e0f;
    height: 0px;
    overflow: hidden;
  }

}

@media (max-width:960px) {
  .dropdownMenuOpen {
    height: auto;
  }

  .arrowIcon {
    float: right;
  }

  .dropdownMenu {
    padding-top: 20px;
  }
}