.header {
  width: 100%;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 1200;
}


.headerShadow,
.header:hover {
  border-bottom: 1px solid var(--primary-border-color);
  box-shadow: 0 4px 6px 0 #0c002e0f;
  background: #fff;
}

.downloadButton {
  background: var(--primary-color);
  padding: 10px 30px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 960px) {
  .nav {
    height: 0px;
    overflow: hidden;
    padding: 0px 20px;

  }

  .navList {
    flex: 1;
    overflow: scroll;
  }

  .headerOpen {
    background-color: #fff;
    border-bottom: 1px solid var(--primary-border-color);

  }

  .headerOpen .nav {
    padding-bottom: 80px;
    height: calc(100vh - 100px);
  }
}